@import '../colors';

.datepicker, .datetimepicker {

  padding: 1.5rem;
  border-radius: 2.5rem;
  background-color: $primary-color;

  &-switch {
    &:hover {
      background-color: $additional-color !important;
      color: $text-chocolate;
    }
  }

  .next,
  .prev {
    &:hover {
      background-color: $additional-color !important;
      color: $text-chocolate;
    }
  }

  & table {
    & tr {
      & td {
        padding: .8rem !important;
        transition: all 250ms ease;

        &:hover {
          background-color: $additional-color !important;
        }

        &.active {
          background-color: $orange !important;
        }

        & span {
          border-radius: .75rem;
          &:hover{
            background-color: $wheat;
          }
          &.focused {
            background-color: $orange;
            color: $white !important;
          }
          &.active {
            background-color: $orange !important;
          }
          &.hour {;
            padding: .5rem;
          }
        }
      }
      & th {
        padding: .8rem !important;
      }
    }
  }
}

.datetimepicker-hours td{
  width: 25rem !important;
}