@import '../colors';

.datepicker, .datetimepicker{

  padding: 1.5rem;
  border-radius: 2.5rem;
  background-color: $additional-color;

  & table {
    & tr {
      & td {
        padding: .8rem !important;
        &:hover {
          background-color: lighten($orange, 25%) !important;

        }
        &.active {
          background-color: $orange !important;
        }

        & span {
          border-radius: .75rem;
          &:hover{
            background-color: lighten($orange, 20%);
          }
          &.focused {
            background-color: $orange;
          }
          &.active {
            background-color: $orange !important;
          }
          &.hour {;
            padding: .5rem;
          }
        }
      }
      & th {
        padding: .8rem !important;
      }
    }
  }
}

.datetimepicker-hours td{
  width: 25rem !important;
}