thead > tr > th {
  text-align: center;
  padding-top: 3rem !important;
}

thead > tr > td {
  padding: 3rem 1.5rem !important;
}


.filters > :last-child {
    width: 100px !important;
}

tbody > tr > td {
  padding: 1.5rem 2rem !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FFF4E5;
}

td:first-child,
th:first-child {
  border-radius: 15px 0 0 15px;
}

td:last-child,
th:last-child {
  border-radius: 0 15px 15px 0;
}
.table-bordered th, .table-bordered td {
  border-bottom: 1px solid rgba(243, 220, 170, 0.5) !important
}

.grid-view td {
  white-space: nowrap;
}

