.artists {
    display: flex;
    gap: 48px;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}