@use "@styles/colors" as colors;
@use "@styles/mixins" as mixins;

.login {
    &__forgot-password {
        text-align: right;
        text-decoration: underline;

        @include mixins.default-transition;
        @include mixins.main-font(400, 12, colors.$text-warm-gray);

        &:hover {
            color: colors.$text-accent-orange;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 72px;
        width: 100%;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;

        button {
            width: fit-content;
        }

        p {
            @include mixins.main-font(400, 14, colors.$text-warm-gray);
        }

        a {
            text-decoration: underline;

            @include mixins.default-transition;

            &:hover {
                color: colors.$text-accent-orange;
            }
        }
    }
}