@use "@styles/colors" as colors;
@use "@styles/mixins" as mixins;

.paint-container {
  cursor: pointer;
  width: 100%;
  min-width: 20rem;
  //max-width: 30rem;

  //border: #0a53be 1px solid;

  &__actions {
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 83%;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.default-transition;
  }

  &:hover &__actions {
    opacity: 0.8;
  }

  @media (min-width: 720px) {
    width: 50%;
  };

  @media (min-width: 1055px) {
    width: 33.333%;
  };

  @media (min-width: 1400px) {
    width: 25%;
  };
}

.section_favorites {
  .paint-container {
    width: 25%;

    @include mixins.for-big-desktop {
      width: 33.333%;
    }
  }
}



.action {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;

    @include mixins.default-transition;

    &:hover {
      transform: scale(1.1);
    }

    &_heart {
      width: 4rem;
      height: 4rem;
      margin-bottom: .5rem;
    }

    &_collect {
      width: 3rem;
      height: 3rem;
    }
  }

  &__content {
    font-size: 2.25rem;
  }

  &__icon {

    &_liked {
        color: colors.$burgundy;
    }
  }
}

.paint-content {

  padding: 0 3% 5% 3%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  &__image-wrapper {
    //width: 28rem;
  }

  &__image {
    object-fit: cover;
    border-radius: 3rem;
    width: 100%;
    height: 100%;
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: .5rem;
    padding-left: .75rem;
    font-size: 1.8rem;
  }
}

.collection-item {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;

  &__preview {
    width: 100px;
    height: 100px;
    margin-right: 2rem;
    cursor: pointer;

    img {
      object-fit: cover;
      border-radius: 3rem;
      width: 100%;
      height: 100%;
    }

    &--blank {
      width: 100px;
      height: 100px;
      margin-right: 2rem;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px dashed #333131;
      font-size: 3rem;
      border-radius: 3rem;
    }
  }

  &__mark {
    z-index: 11;
    position: absolute;
    width: 100px;
    height: 100px;
    display: none;

    font-size: 3rem;

    i {
      color: #333131;
    }
  }

  &__title {
    font-size: 1.8rem;
  }

  &--marked {
    .collection-item {
      &__preview {
        opacity: 50%;
      }

      &__mark {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 3rem;
      }
    }
  }
}