@use "@styles/colors" as colors;
@use "@styles/mixins" as mixins;

.profile {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 60px;

    &__aside {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 250px;
        height: 100%;
        gap: 56px;
    }

    &__content {
        display: flex;
        width: 100%;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;
    }

    &__avatar {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        overflow: hidden;

        background-color: lightgray;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__name {
        text-align: center;

        @include mixins.main-font(600, 16, colors.$text-chocolate);
    }

    &__email {
        text-align: center;

        @include mixins.main-font(400, 12, colors.$text-warm-gray);
    }

    &__navigation {
        height: 100%;
    }
}


// Стили виджета навигации
.profile-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;

    &__item {
        cursor: pointer;
        width: 100%;
        max-width: 250px;
        height: 60px;
        border-radius: 100px;
        background-color: colors.$additional-color;

        @include mixins.default-transition;

        &:hover {
            background-color: colors.$additional-color-hovered;
        }

        &_active {
            background-color: colors.$accent-orange;

            .profile-nav__label {
                color: colors.$text-accent-white;
            }

            .profile-nav__icon svg {
                color: colors.$text-accent-white;
            }

            &:hover {
                background-color: colors.$accent-orange;
            }
        }

        &:last-child {
            margin-top: auto;
            background-color: transparent;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 36px;
        padding: 0 24px;

        @include mixins.default-transition;

        &:hover {
            //color: transparent;
        }
    }

    &__icon {
        width: 18px;
        height: 18px;

        svg {
            object-fit: contain;
            width: 100%;
            height: 100%;
            color: colors.$text-warm-gray;
        }
    }

    &__label {
        @include mixins.main-font(500, 18, colors.$text-warm-gray);
    }
}

.profile-info {
    width: 100%;

    &__content {
        &_owner {
            display: grid;
            grid-template-columns: 250px 1fr;
            gap: 36px;
            padding-top: 60px;
        }
    }

    &__avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        border-radius: 24px;
        overflow: hidden;
        background-color: colors.$additional-color;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        svg {
            width: 100px;
            height: 100px;
            color: colors.$badge-wheat;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 100%;
        max-width: 500px;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }

    &__uploader {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 70px;
        text-align: center;
        border-radius: 16px;
        border: 2px dashed colors.$text-chocolate;

        .file-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }

    &__action {
        display: flex;
        gap: 12px;

        @include mixins.main-font(500, 14, colors.$text-chocolate);

        svg {
            width: 16px;
            height: 17px;
            color: colors.$text-chocolate;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__name {
        text-align: center;

        @include mixins.main-font(600, 20, colors.$text-chocolate);
    }

    &__email {
        text-align: center;

        @include mixins.main-font(500, 14, colors.$text-warm-gray);
    }
}

.profile-collections {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 36px;
        width: 100%;
    }

    &__controls {
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__badges {
        position: absolute;
        right: 0;
        display: flex;
        gap: 8px;
    }

    &__new {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        color: colors.$text-chocolate;
        background-color: colors.$primary-color;

        @include mixins.hover-transition;
        @include mixins.basic-shadow;

        &:hover {
            color: colors.$accent-orange;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 36px;
        row-gap: 32px;
    }

    &__title {
        @include mixins.main-font(600, 24, colors.$text-chocolate);
    }
}

.profile-collection {
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 100%;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__statistics {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    &__statistic {
        cursor: pointer;
        display: flex;
        gap: 16px;
        width: 150px;
        height: 80px;
        padding: 16px 12px;
        border-radius: 24px;
        background-color: colors.$primary-color;

        @include mixins.basic-shadow;
    }

    &__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: colors.$badge-wheat;

        svg {
            color: colors.$accent-brown;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }

    &__label {
        @include mixins.main-font(600, 20, colors.$text-chocolate);
    }

    &__text {
        @include mixins.main-font(400, 12, colors.$text-warm-gray);
    }
}

.profile-favorites {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;

    &__content {
        width: 100%;
    }
}

.profile-settings {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;

    &__content {
        width: 100%;
    }
}