.request-password-reset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
    width: 100%;
    max-width: 500px;

    &__footer {
        display: flex;
        justify-content: center;
    }
}