@use "@styles/colors" as colors;
@use "@styles/mixins" as mixins;

.collection-preview {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 32px;

    &__content {
        display: flex;
        align-items: center;
        gap: 24px;

        &:hover {
            .collection-preview__title {
                color: colors.$text-accent-orange;
            }
        }
    }

    &__preview {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        overflow: hidden;
        background-color: colors.$badge-wheat;
        color: colors.$accent-brown;

        svg {
            z-index: 1;
            position: absolute;
            width: 20px;
            height: 20px;
        }

        img {
            z-index: 2;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &_new {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: colors.$badge-wheat;

            svg {
                width: 20px;
                height: 20px;
                color: colors.$accent-brown;
            }
        }
    }

    &__title {
        @include mixins.default-transition;
        @include mixins.lineclamp(2);
        @include mixins.main-font(500, 16, colors.$text-chocolate);
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__check {
        position: relative;
        cursor: pointer;
        display: flex;
        width: 10px;
        height: 7px;
        color: colors.$text-warm-gray;
    }

    &__lock {
        cursor: pointer;
        display: flex;
        width: 10px;
        height: 12px;
        color: colors.$text-chocolate;
    }
}