@import '../../mixins/shadows';
@import '../../colors';

.profile {
  display: grid;
  grid-template-columns: 1fr 4fr;

  &__sidebar {
    display: flex;
    min-width: 40rem;
    height: auto;

    &-navigation {
      width: 100%;
      padding: 1rem;
    }
  }

  .navigation {
    &__li {
      background-color: $primary-color-darken;
      border-radius: 1.75rem;

      margin: 1rem 0;

      &_active {
        @include basic-shadow();
        background-color: $additional-color;
      }

      &_exit {
          margin-top: 20rem;
      }
    }

    &__link {
      display: flex;
      //justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      padding: 2rem;
    }

    &__icon {
      font-size: 2.5rem;
      margin-left: 2.5rem;
      margin-right: 4rem;

    }
  }


  .profile__content {

  }
}