$primary-color: #FFFAF5;
$additional-color: #FDF1E3;

$orange: #C98412;
$white: #FFFFFF;
$wheat: #F1D7B5;
$brown: #8B4E1C;

$text-chocolate: #381A1C;
$text-warm-gray: #7D6F61;
$text-accent-orange: #C98412;