@import 'colors';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a:active,
a {
  text-decoration: none;
  color: grey;
  &:hover {
    color: $orange;
  }
}

input, select, textarea {
  outline: none;
  padding-left: 1.5rem !important;
}

body {
  margin: 0;
  padding: 0;
  //font-family: 'Ubuntu', sans-serif;
  background-color: $primary-color;
  color: grey;
}

hr, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  height: 100%;
  width: 100%;
}

.btn {
  border-radius: 20px;
  padding: 0.375rem 1.5rem;

  &-orange {
    color: #fff;
    border-color: $orange;
    background-color: $orange;
    &:hover {
      color: #fff;
      background-color: darken($orange, 5);
      border-color: lighten($orange, 5);
    }
  }
}