@import 'colors';

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 100px 1fr / 300px 1fr;
}

.grid-view {
  border-radius: 15px;
  padding: 1.5rem;

  background-color: #FFF4E5;
  -webkit-box-shadow: -4px 4px 8px 0px rgba(171, 171, 171, 0.2);
  -moz-box-shadow: -4px 4px 8px 0px rgba(171, 171, 171, 0.2);
  box-shadow: -4px 4px 8px 0px rgba(171, 171, 171, 0.2);
}

.content {
  padding: 2rem;
}
