* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

a:active,
a {
  text-decoration: none;
  color: grey; }
  a:active:hover,
  a:hover {
    color: #ECBC5E; }

input, select, textarea {
  outline: none;
  padding-left: 1.5rem !important; }

body {
  margin: 0;
  padding: 0;
  background-color: #FEF1DF;
  color: grey; }

hr, ul, li {
  margin: 0;
  padding: 0; }

ul, li {
  list-style-type: none; }

form {
  margin: 0;
  padding: 0; }

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  height: 100%;
  width: 100%; }

.btn {
  border-radius: 20px;
  padding: 0.375rem 1.5rem; }
  .btn-orange {
    color: #fff;
    border-color: #ECBC5E;
    background-color: #ECBC5E; }
    .btn-orange:hover {
      color: #fff;
      background-color: #e9b347;
      border-color: #efc575; }

.block {
  background-color: #FFF4E5;
  -webkit-box-shadow: -4px 4px 8px 0px rgba(171, 171, 171, 0.2);
  -moz-box-shadow: -4px 4px 8px 0px rgba(171, 171, 171, 0.2);
  box-shadow: -4px 4px 8px 0px rgba(171, 171, 171, 0.2); }

.main-sidebar {
  grid-row: 1/3;
  padding: 2rem; }

.sidebar {
  height: 100%;
  border-radius: 30px;
  padding: 1.5rem 1rem; }
  .sidebar__content {
    font-size: 18px; }
  .sidebar__logo {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 1rem 0 1.5rem 0;
    margin-bottom: 1rem; }
  .sidebar .nav-item:hover {
    background-color: rgba(252, 234, 211, 0.75); }

.nav-item {
  border-radius: 10px;
  padding-left: 1.5rem; }
.nav-link {
  padding: .75rem 1rem;
  color: grey; }
  .nav-link:hover {
    color: #404040; }
.nav-icon {
  width: 20px;
  margin-right: .75rem; }

.main-header {
  font-size: 18px;
  padding: 2rem; }

.navbar {
  border-radius: 15px;
  padding: 1.5rem 3.5rem;
  justify-content: space-between; }

thead > tr > th {
  text-align: center;
  padding-top: 3rem !important; }

thead > tr > td {
  padding: 3rem 1.5rem !important; }

.filters > :last-child {
  width: 100px !important; }

tbody > tr > td {
  padding: 1.5rem 2rem !important; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FFF4E5; }

td:first-child,
th:first-child {
  border-radius: 15px 0 0 15px; }

td:last-child,
th:last-child {
  border-radius: 0 15px 15px 0; }

.table-bordered th, .table-bordered td {
  border-bottom: 1px solid rgba(243, 220, 170, 0.5) !important; }

.grid-view td {
  white-space: nowrap; }

.control-label {
  padding-left: 1.25rem;
  padding-bottom: .25rem; }

.humble-control-label {
  position: relative;
  color: #a2a2a2;
  top: 10px;
  left: 25px;
  background-color: #FEF1DF;
  padding: 0 3px;
  font-size: 14px; }

.datepicker-container .humble-control-label {
  left: 75px;
  z-index: 10; }

.form-group {
  padding-bottom: 1.25rem; }

.form-group.required label:after {
  content: " *";
  color: darkred; }

.select2-dropdown {
  background-color: #FFF4E5; }

.select2-container--krajee-bs5 .select2-selection--single {
  background-color: inherit;
  border-color: #a2a2a2;
  border-radius: 15px;
  padding: 1rem;
  height: auto; }

.select2-container--krajee-bs5 .select2-search--dropdown .select2-search__field {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #FFF4E5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #212529; }

.select2-container--krajee-bs5 .select2-selection--single .select2-selection__clear,
.select2-container--krajee-bs5 .select2-selection--multiple .select2-selection__clear {
  float: right;
  font-size: 1.2rem;
  margin-right: 3rem; }

.select2-container--krajee-bs5 .select2-results__option[aria-selected] {
  background-color: #FEF1DF;
  color: #333;
  border-radius: 0; }

.select2-container--krajee-bs5 .select2-results__option.select2-results__option--selected,
.select2-container--krajee-bs5 .select2-results__option[aria-selected=true] {
  color: #262626;
  background-color: #f7e2b9; }

.select2-container--krajee-bs5:not(.select2-container--disabled) .select2-dropdown {
  border-color: inherit;
  box-shadow: none;
  overflow-x: hidden;
  margin-top: -1px; }

.select2-container--krajee-bs5.select2-container--open:not(.select2-container--disabled) .select2-selection,
.select2-container--krajee-bs5:not(.select2-container--disabled) .select2-selection:focus {
  border-color: #a2a2a2;
  box-shadow: none; }

.kartik-select2-container .humble-control-label {
  z-index: 10; }

select.is-valid + .select2-container--krajee-bs5 .select2-selection--single,
.has-success.select2-container--krajee-bs5 .select2-dropdown,
.has-success .select2-container--krajee-bs5 .select2-selection {
  border-color: #a2a2a2; }

.datepicker, .datetimepicker {
  padding: 1.5rem;
  border-radius: 2.5rem;
  background-color: #FFF4E5; }
  .datepicker table tr td, .datetimepicker table tr td {
    padding: .8rem !important; }
    .datepicker table tr td:hover, .datetimepicker table tr td:hover {
      background-color: #f9ebd0 !important; }
    .datepicker table tr td.active, .datetimepicker table tr td.active {
      background-color: #ECBC5E !important; }
    .datepicker table tr td span, .datetimepicker table tr td span {
      border-radius: .75rem; }
      .datepicker table tr td span:hover, .datetimepicker table tr td span:hover {
        background-color: #f7e2b9; }
      .datepicker table tr td span.focused, .datetimepicker table tr td span.focused {
        background-color: #ECBC5E; }
      .datepicker table tr td span.active, .datetimepicker table tr td span.active {
        background-color: #ECBC5E !important; }
      .datepicker table tr td span.hour, .datetimepicker table tr td span.hour {
        padding: .5rem; }
  .datepicker table tr th, .datetimepicker table tr th {
    padding: .8rem !important; }

.datetimepicker-hours td {
  width: 25rem !important; }

.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
.login-box {
  display: flex;
  flex-direction: column;
  align-items: center; }
.login-logo {
  text-align: center;
  padding: 5rem 0;
  font-size: 64px; }

#login-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.form-control {
  border-color: #a2a2a2;
  border-radius: 15px; }
  .form-control::placeholder {
    font-size: 14px;
    font-style: italic;
    color: #a2a2a2; }

.help-block {
  margin-left: .5rem;
  font-size: 1.6rem;
  color: #ECBC5E; }

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 100px 1fr / 300px 1fr; }

.grid-view {
  border-radius: 15px;
  padding: 1.5rem;
  background-color: #FFF4E5;
  -webkit-box-shadow: -4px 4px 8px 0px rgba(171, 171, 171, 0.2);
  -moz-box-shadow: -4px 4px 8px 0px rgba(171, 171, 171, 0.2);
  box-shadow: -4px 4px 8px 0px rgba(171, 171, 171, 0.2); }

.content {
  padding: 2rem; }

/*# sourceMappingURL=admin.css.map */
