$mainFont: Ubuntu, sans-serif;

@function pxToRem($font-size) {
    $remValue: calc($font-size / 16) + rem;
    @return $remValue;
}

@mixin font($name, $weight, $size, $color, $height, $style) {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    font-size: pxToRem($size);
    color: $color;

    @if $height != 1 {
        line-height: calc($height / $size);
    }
}

@mixin main-font($weight, $size, $color: null, $height: 1, $style: normal) {
    @include font($mainFont, $weight, $size, $color, $height, $style);
}

@mixin lineclamp($lines) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow-wrap: anywhere;
    overflow: hidden;
}