@use '@styles/colors' as colors;
@use '@styles/mixins' as mixins;

.form-group {
    display: flex;

    &_vertical {
        flex-direction: column;

        label {
            margin-bottom: 8px;

            @include mixins.main-font(500, 16, colors.$text-chocolate);
        }

        input {
            width: 100%;
            height: 42px;
            max-width: 300px;
            border: none;
            border-radius: 12px;
            margin-bottom: 4px;
            padding: 8px 12px;
            background-color: colors.$additional-color;

            @include mixins.main-font(500, 14, colors.$text-chocolate);

            &.has-error {
                border: 1px solid colors.$accent-red;
            }

            &:focus {
                border: 1px solid colors.$badge-wheat;
            }
        }

        .help-block {
            @include mixins.main-font(400, 12, colors.$accent-red);
        }
    }
}