//$primary-color: #FEF1DF;
$primary-color-darken: #fae8d0;
//
//$additional-color: #FFF4E5;
//
$orange: #ECBC5E;

$burgundy: #c44848;

$primary-color: #FFFAF5;
$additional-color: #FDF1E3;

$accent-gray: #847F7A;
$accent-gray-lighter: #BEBEBE;
$accent-gray-light: #F5F0E6;

$badge-wheat: #F1D7B5;

$text-chocolate: #381A1C;
$text-warm-gray: #7D6F61;

$text-accent-orange: #C98412;
$text-accent-white: #FFFFFF;
$text-accent-brown: #8B4E1C;
$text-accent-cinereous: #938577;