//$primary-color: #FEF1DF;
$primary-color-darken: #fae8d0;
//
//$additional-color: #FFF4E5;
//
$orange: #ECBC5E;

$burgundy: #c44848;

$primary-color: #FFFAF5;
$additional-color: #FDF1E3;

$accent-gray: #847F7A;
$accent-gray-lighter: #BEBEBE;
$accent-gray-light: #F5F0E6;
$accent-brown: #8B4E1C;
$accent-orange: #C98412;
$accent-red: #c10e0e;

$badge-wheat: #F1D7B5;

// Типографика

$text-chocolate: #381A1C;
$text-warm-gray: #7D6F61;

$text-accent-orange: #C98412;
$text-accent-white: #FFFFFF;
$text-accent-brown: #8B4E1C;
$text-accent-cinereous: #938577;
$text-accent-tuscany: #B5A391;

// Кнопки
$btn-orange: #C98412;
$btn-orange--hovered: #E2991F;
$btn-orange--active: #F3B142;

$btn-light-orange: #F5E1BB;
$btn-light-orange--hovered: #F0D39D;
$btn-light-orange--active: #D0AE6E;

$btn-brown: #8B4E1C;
$btn-brown--hovered: #AA6126;
$btn-brown--active: #CC7228;

$btn-text-white: #FFFFFF;
$btn-text-brown: #8D5A04;

// Тени
$shadow-gray: #E6E1DD;