@use '@styles/colors' as colors;
@use '@styles/mixins' as mixins;

* {
    box-sizing: border-box;
}

a:active,
a {
    text-decoration: none;
    color: grey;
    &:hover {
        //color: colors.$orange;
    }
}

input, select, textarea {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: colors.$primary-color;
    color: grey;
}

hr, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    height: 100%;
    width: 100%;
}

.title {
    @include mixins.main-font(500, 24, colors.$text-chocolate);
}