@import 'colors';

.page {
    width: 100wv;
    height: auto;
    padding: 20px 60px;
    display: flex;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 48px;
        height: 100vh;
        width: 100%;
        max-width: 2048px;
    }
}

.page-container {
    width: 100%;
    height: 100%;

    display: grid;
    //grid-template-columns: 1fr 3fr;
}

.content {
    width: 100%;
    margin-top: 3rem;
}
