* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

a:active,
a {
  text-decoration: none;
  color: grey; }
  a:active:hover,
  a:hover {
    color: #ECBC5E; }

input, select, textarea {
  outline: none;
  padding-left: 1.5rem !important; }

body {
  margin: 0;
  padding: 0;
  background-color: #FEF1DF;
  color: grey; }

hr, ul, li {
  margin: 0;
  padding: 0; }

ul, li {
  list-style-type: none; }

form {
  margin: 0;
  padding: 0; }

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  height: 100%;
  width: 100%; }

.btn {
  border-radius: 20px;
  padding: 0.375rem 1.5rem; }
  .btn-orange {
    color: #fff;
    border-color: #ECBC5E;
    background-color: #ECBC5E; }
    .btn-orange:hover {
      color: #fff;
      background-color: #e9b347;
      border-color: #efc575; }

.page {
  width: 100wv;
  height: auto;
  padding: 5rem 10rem;
  display: flex;
  justify-content: center; }
  .page__content {
    height: 100vh;
    width: 100%;
    max-width: 2048px; }

.page-container {
  width: 100%;
  height: 100%;
  margin-top: 25rem;
  display: grid; }

.content {
  width: 100%;
  margin-top: 3rem; }

.sidebar {
  grid-column: 1 / 2;
  width: 18vw;
  max-width: 40rem;
  min-width: 25rem;
  height: 100%;
  background-color: #FFF4E5;
  border-radius: 3rem;
  margin: 30px;
  -webkit-box-shadow: -4px 4px 8px 0px rgba(131, 129, 112, 0.2);
  -moz-box-shadow: -4px 4px 8px 0px rgba(131, 129, 112, 0.2);
  box-shadow: -4px 4px 8px 0px rgba(131, 129, 112, 0.2); }

.filters-modal {
  padding: 8rem 4rem; }

.painting-filter__block {
  padding-bottom: 2rem; }
  .painting-filter__block--title {
    font-size: 2rem;
    text-align: center; }
  .painting-filter__block--item {
    display: flex;
    flex-direction: column; }
    .painting-filter__block--item label {
      font-size: 1.8rem; }
      .painting-filter__block--item label:hover {
        cursor: pointer; }
    .painting-filter__block--item input {
      visibility: hidden; }
      .painting-filter__block--item input:checked + label {
        font-weight: bold;
        color: red; }

.filter--active {
  font-weight: bold; }

.profile__sidebar {
  grid-column: 1/2;
  display: flex;
  min-width: 30rem;
  height: auto; }
  .profile__sidebar-navigation {
    width: 100%;
    padding: 1rem; }
.profile .navigation__li {
  cursor: pointer;
  background-color: #fae8d0;
  border-radius: 1.75rem;
  margin-bottom: 1.25rem; }
  .profile .navigation__li_active {
    -webkit-box-shadow: -4px 4px 8px 0px rgba(131, 129, 112, 0.2);
    -moz-box-shadow: -4px 4px 8px 0px rgba(131, 129, 112, 0.2);
    box-shadow: -4px 4px 8px 0px rgba(131, 129, 112, 0.2);
    background-color: #FFF4E5; }
  .profile .navigation__li_exit {
    margin-top: 20rem; }
  .profile .navigation__li:hover {
    color: #424141; }
.profile .navigation__link {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  padding: 2rem; }
.profile .navigation__icon {
  font-size: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 4rem; }

.header {
  width: 100%;
  height: 10rem;
  background-color: #FFF4E5;
  border-radius: 3rem;
  font-size: 2rem;
  -webkit-box-shadow: -4px 4px 8px 0px rgba(131, 129, 112, 0.2);
  -moz-box-shadow: -4px 4px 8px 0px rgba(131, 129, 112, 0.2);
  box-shadow: -4px 4px 8px 0px rgba(131, 129, 112, 0.2); }
  .header__navigation {
    padding: 0 2.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; }

.nav-block {
  display: flex;
  align-items: center; }

.nav-item {
  padding: 0 1rem;
  cursor: pointer; }

.modal {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  display: none; }
  .modal.content {
    overflow-wrap: break-word;
    overflow-y: scroll; }
  .modal--active {
    display: block; }
  .modal__wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .modal__content {
    width: 50vw;
    overflow-y: scroll;
    background-color: #FFF4E5;
    border-radius: 15px;
    max-width: 76.8rem; }
    .modal__content_login {
      height: 90vh; }
    .modal__content_collections {
      height: 70vh; }
  .modal__action {
    width: 70px;
    height: 90vh;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .modal__header {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .modal__body {
    width: 100%;
    padding: 1.5rem 3rem; }
  .modal-head__close {
    display: flex;
    justify-content: flex-end;
    padding: .5rem 1rem; }
  .modal-head__title {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    padding: .5rem 3rem; }

.action-login, .action-signup {
  cursor: pointer; }
  .action-login:hover, .action-signup:hover {
    color: #ECBC5E; }

.action-active {
  font-weight: bold; }

.close-button {
  font-size: 25px;
  cursor: pointer; }

.file-content {
  border: 1px solid grey; }

.overlay--inactive {
  display: none; }
.overlay--active {
  display: block;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5; }

.collection-choice {
  display: flex;
  justify-content: center; }
  .collection-choice__new {
    cursor: pointer;
    width: 25rem;
    height: 25rem; }

.area {
  height: 25rem;
  width: 25rem;
  border: grey 3px dashed;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 5rem; }

.control-label {
  padding-left: 1.25rem;
  padding-bottom: .25rem; }

.humble-control-label {
  position: relative;
  color: #a2a2a2;
  top: 10px;
  left: 25px;
  background-color: #FFF4E5;
  padding: 0 3px;
  font-size: 14px;
  font-weight: bold; }

.form-group {
  padding-bottom: 1.25rem; }

.help-block {
  color: #ECBC5E; }

input[aria-invalid="true"] {
  border-color: #ECBC5E; }

.profile {
  display: grid;
  grid-template-columns: 1fr 4fr; }
  .profile__section-content {
    padding: 1rem 8vw; }
  .profile .info-form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media (max-width: 1200px) {
      .profile .info-form {
        grid-template-columns: 1fr; } }
    .profile .info-form__column {
      padding: 2.5rem; }

.form-group {
  max-width: 50rem; }

.paint-container {
  cursor: pointer;
  width: 100%;
  min-width: 20rem; }
  .paint-container__actions {
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 83%;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  .paint-container:hover .paint-container__actions {
    opacity: 0.8; }
  @media (min-width: 720px) {
    .paint-container {
      width: 50%; } }
  @media (min-width: 1055px) {
    .paint-container {
      width: 33.333%; } }
  @media (min-width: 1400px) {
    .paint-container {
      width: 25%; } }

.action__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .action__wrapper:hover {
    transform: scale(1.1); }
  .action__wrapper_heart {
    width: 4rem;
    height: 4rem;
    margin-bottom: .5rem; }
  .action__wrapper_collect {
    width: 3rem;
    height: 3rem; }
.action__content {
  font-size: 2.25rem; }
.action__icon_liked {
  color: #c44848; }

.paint-content {
  padding: 0 3% 5% 3%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; }
  .paint-content__image {
    object-fit: cover;
    border-radius: 3rem;
    width: 100%;
    height: 100%; }
  .paint-content__title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: .5rem;
    padding-left: .75rem;
    font-size: 1.8rem; }

.collection-item {
  display: flex;
  align-items: center;
  padding-bottom: 2rem; }
  .collection-item__preview {
    width: 100px;
    height: 100px;
    margin-right: 2rem;
    cursor: pointer; }
    .collection-item__preview img {
      object-fit: cover;
      border-radius: 3rem;
      width: 100%;
      height: 100%; }
    .collection-item__preview--blank {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px dashed #333131;
      font-size: 3rem;
      border-radius: 3rem; }
  .collection-item__mark {
    z-index: 11;
    position: absolute;
    width: 100px;
    height: 100px;
    display: none;
    font-size: 3rem; }
    .collection-item__mark i {
      color: #333131; }
  .collection-item__title {
    font-size: 1.8rem; }
  .collection-item--marked .collection-item__preview {
    opacity: 50%; }
  .collection-item--marked .collection-item__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem; }

/*# sourceMappingURL=frontend.css.map */
